<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dark.amarel.temanbelajar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_temanbelajar"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_murid" />
        <activity android:name=".form_profil" />
        <activity android:name=".daftar_aktivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Home" />
        <activity android:name=".activities.DetailTentor" />
        <activity android:name=".Dashboard" />
        <activity android:name=".detail_materi_sekolah" />
        <activity android:name=".detail_keterampilan" />
        <activity android:name=".detail_bahasa_asing" />
        <activity android:name=".detail_komputerisasi" />
        <activity android:name=".detail_musik" />
        <activity android:name=".detail_olahraga" />
        <activity android:name=".activities.ListGuru" />
        <activity android:name=".detail_smp" />
        <activity android:name=".detail_sma" />
        <activity android:name=".detail_sbmptn" />
        <activity android:name=".FormPesanTentor" />
        <activity android:name=".activities.list_transaksi" />
        <activity android:name=".detail_transaksi"></activity>
    </application>

</manifest>